[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
django-allauth = "*"
django-fsm = "*"
djangorestframework = "*"
djangorestframework-api-key = "==2.*"
apscheduler = "*"
django-filter = "*"

# heroku
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
