{% load static %}
{% load filters %}

<div class="h-screen flex flex-col">
    {% include 'layouts/_stats_panel_top.html' with stats=stats %}

    <div class="bg-primary m-4 w-full[-8rem] md:w-72 p-3 rounded-lg md:h-full text-slate-300">
        <p class="text-left font-bold text-xl font-main my-2">
            Recent results
            {% if recent_results %}
                <span class="font-bold text-slate-300 font-main text-sm"> ({{ recent_results.count }}) </span>
            {% endif %}
        </p>

        <div class="divide-y divide-gray-300/50 p-2">
            {% for result in recent_results %}
                <div class="flex items-center flex-row py-2 cursor-pointer" onclick='location.href="{% url 'show_job' result.job.id %}";'>      
                    <div class="p-1 bg-sky-100 rounded-md">
                        {% if result.job.language == 'python' %}
                        <img class="h-5 w-5" src="{% static 'python.svg' %}" />
                        {% elif result.job.language == 'java' %}
                        <img class="h-5 w-5" src="{% static 'java.svg' %}" />
                        {% endif %}
                    </div>

                    <div class="flex flex-col grow ml-2">
                        <span class="font-main font-bold lowercase" > {{ result.job.name|truncatechars:9  }}</span>
                        <span class="font-main text-xs text-slate-200">
                        {{ result.result.name|only_name }}
                        <!-- {% include 'shared/download.html'  with result=result %} -->
                        </span>
                    </div>

                    <span class="font-main font-bold py-1 px-2 text-xs">
                        {{ result.created_at|timesince|upto:","}} ago
                    </span>        
                </div>
            {% endfor %} 
            
            {% if not recent_results %}
            <p class="text-center text-base font-bold text-slate-300 font-main">There are no results yet</p>
            {% endif %}
        </div>
    </div>
</div>
