{% load static %}

<div class="bg-primary mx-4 mt-4 w-full[-8rem] md:h-fit md:w-72 p-3 rounded-lg flex items-center flex-col">
    <h2 class="text-2xl font-bold text-slate-300">Statistics</h2>
    <div class="bg-primary mx-4 w-full md:w-72 px-3 pt-3 rounded-lg text-slate-300">
        <div class="flex justify-between text-center items-center border-b border-primary-darker py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'stopwatch.svg' %}" /> 
            <p class="font-main font-extrabold  text-sm">Tasks Available</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg">
                {{ stats.available }}
            </div>
        </div>
        <div class="flex justify-between text-center items-center border-b border-primary-darker py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'play.svg' %}" />
            <p class="font-main font-extrabold  text-sm">Tasks In Progress</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg">
                {{ stats.in_progress }}
            </div>
        </div>
        <div class="flex justify-between text-center border-b border-primary-darker items-center py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'task_completed.svg' %}" />
            <p class="font-main font-extrabold  text-sm">Tasks Completed</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg">
                {{ stats.completed }}
            </div>
        </div>
        <div class="flex justify-between text-center items-center py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'failed.png' %}" />
            <p class="font-main font-extrabold text-sm">Tasks Failed</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg">
                {{ stats.failed }}
            </div>
        </div>
    </div>
    
 </div>
