{% load static %}

<div class="bg-primary mx-4 mt-4 w-full[-8rem] md:h-fit md:w-72 rounded-lg flex items-center flex-col">
    <h2 class="text-2xl font-bold text-slate-300">Statistics</h2>
    <div class="bg-primary mx-4 w-full m-3 pt-3 rounded-lg text-slate-300">
        <a href="{% url 'show_workers' %}" class="flex justify-between text-center items-center border-b border-primary-darker px-3 py-1 hover:cursor-pointer hover:bg-primary-darker">
            <img class="w-9 ml-1 my-2" src="{% static 'computer.svg' %}" /> 
            <p class="font-main font-extrabold  text-sm">Available Machines</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg flex items-center justify-center">
                {{ stats.workers }}
            </div>
        </a>
        <div class="flex justify-between text-center items-center border-b border-primary-darker px-3 py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'stopwatch.svg' %}" /> 
            <p class="font-main font-extrabold  text-sm">Tasks Available</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg flex items-center justify-center">
                {{ stats.available }}
            </div>
        </div>
        <div class="flex justify-between text-center items-center border-b border-primary-darker px-3 py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'play.svg' %}" />
            <p class="font-main font-extrabold  text-sm">Tasks In Progress</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg flex items-center justify-center">
                {{ stats.in_progress }}
            </div>
        </div>
        <div class="flex justify-between text-center border-b border-primary-darker items-center px-3 py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'task_completed.svg' %}" />
            <p class="font-main font-extrabold  text-sm">Tasks Completed</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg flex items-center justify-center">
                {{ stats.completed }}
            </div>
        </div>
        <a href="{% url 'show_failed' %}" class="flex justify-between text-center border-b border-primary-darker items-center px-3 py-1 hover:cursor-pointer hover:bg-primary-darker">
            <img class="w-9 ml-1 my-2" src="{% static 'failed.png' %}" />
            <p class="font-main font-extrabold text-sm">Tasks Failed</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg flex items-center justify-center">
              {{ stats.failed }}
            </div>
        </a>
        <div class="flex justify-between text-center items-center px-3 py-1">
            <img class="w-9 ml-1 my-2" src="{% static 'hourglass.svg' %}" />
            <p class="font-main font-extrabold  text-sm">Processing Hours</p>
            <div class="w-9 px-3 py-1 rounded-full bg-background text-primary-darker font-main font-extrabold text-lg flex items-center justify-center">
                0
            </div>
        </div>
    </div>
    
 </div>
