<div class="h-screen flex flex-col">
    {% include 'layouts/_stats_panel_top.html' with stats=stats %}
    <div class="bg-primary m-4 w-full[-8rem] md:w-72 p-3 rounded-lg md:h-full text-slate-300">
        {% for result in recent_results %}
            <div class="border-b border-primary-darker py-2">
                {{ result.created_at }} - {{ result.job.name }}:
                <br>
                {{ result.download_link }}
            </div>
        {% endfor %}
        {% if not recent_results %}
            <p class="font-main font-bold">You don't have any results yet</p>
        {% endif %}
    </div>
</div>
