<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block head_title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <script src="{% static 'index.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.11/jsoneditor.min.js" integrity="sha512-RL3kaj0W9BjXTR6ptyJgJ5U+mjMa/6U/s3VcnrIWqJsc6/O2U7Jk6pNl10tRHoM9//SBjWl9huHsM6jjGv8sFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.11/jsoneditor.min.css" integrity="sha512-nnOk6g+Ad1MdoerOautiVacB6N+rKYkPO0YGCSq/Mgrb45RXtPC7xEK+R+lyWA1GRBbnLBc71npsBTrF5rBEpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
    {% block content %}  
    {% endblock %}
  </body>
</html>