{% extends "layouts/dashboard_layout.html" %}

{% load static %}
{% load filters %}

{% block head_title %}New Job{% endblock %}

{% block mid_content %}

    <div class="flex flex-col items-center w-full overflow-hidden pb-2">
        <h1 class="text-3xl font-extrabold mt-2 mb-4">New Task</h1>

        <div id="journal-scroll" class="overflow-y-scroll flex w-11/12 md:w-5/6 2xl:w-8/12 flex-col items-center border-2 px-20 py-10 rounded-lg shadow-lg bg-white">
            <form class="w-full" method="post" enctype="multipart/form-data" action="{% url 'new_job' %}" id="job-form">
                {% csrf_token %}
                {% if job_form.non_field_errors %}
                    <div class="mb-3 p-3 text-error bg-red-100 rounded border border-red-200">
                        {{ job_form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="flex flex-col w-full">
                    <label for="name" class="text-sm font-bold">{{ job_form.name.label }}<span class="text-primary"> *</span></label>
                    {{ job_form.name|addclass:'border border-stale-300 rounded mb-4 px-3 py-2 focus:outline-none focus:ring-primary focus:border-primary focus:ring-1 sm:text-sm' }}
                    <span class="text-error text-xs">{{ job_form.name.errors }}</span>
                </div>

                <div class="flex flex-col">
                    <label for="name" class="text-sm font-bold">{{ job_form.language.label }}<span class="text-primary"> *</span></label>
                    {{ job_form.language|addclass:'border border-stale-300 rounded mb-2 px-3 py-2 focus:outline-none focus:ring-primary focus:border-primary focus:ring-1 sm:text-sm' }}
                    <span class="text-error text-xs">{{ job_form.language.errors }}</span>
                </div>

                <div id="python-helper" class="font-main text-sm mb-4 px-2 py-1 bg-slate-100 rounded-lg">
                    <h2 class="font-bold text-base">Python Helper</h2>
                    <p> 
                        The archive should contain a main file named <code>main.py</code> that takes json data as an argument.
                        If additional libraries are included, attach the <code>requirements.txt</code> file.
                    </p>
                </div>

                <div id="java-helper" class="font-main text-sm hidden mb-4 px-2 py-1 bg-slate-100 rounded-lg">
                    <h2 class="font-bold text-base">Java Helper</h2>
                    <p>
                        The archive should contain a jar file that takes json data as an argument.
                    </p>
                </div>
                
                <div class="flex flex-col">
                    <label for="program" class="text-sm font-bold">{{ job_form.program.label }}<span class="text-primary"> *</span></label>
                    {{ job_form.program|addclass:'file:bg-primary file:text-slate-200 file:font-main file:text-base file:py-1 file:rounded-md file:px-3 file:border-0 file:hover:cursor-pointer file:hover:bg-primary-darker file:hover:text-white file:font-bold file:mr-2 file:transition file:duration-100 file:ease-out file:shadow-sm hover:cursor-pointer border border-stale-300 rounded mb-4 px-3 py-2 focus:outline-none focus:ring-primary focus:border-primary focus:ring-1 sm:text-sm' }}
                    <span class="text-error text-xs">{{ job_form.program.errors }}</span>
                </div>

                <div class="flex flex-col">
                    <div class="flex items-center">
                        <label for="settings" class="text-sm font-bold">{{ job_form.settings.label }}</label>
                        <div class="ml-2 helper-button">
                            <img class="w-[1.15rem]" src="{% static 'info.svg' %}" alt="">
                        </div>
                        <div class="hidden absolute ml-[5.5rem] z-10 hidden-helper">
                            <div class="flex items-center">
                                <img class="absolute w-8 text-lg -translate-x-[1.1rem] arrow-color" src="{% static 'triangle-left.svg' %}" alt="">
                                <p id="help" class="text-sm bg-slate-200 px-2 py-1 rounded-lg -translate-y-[0.125rem] max-w-lg">
                                    Must be a list, and each element of the list is a separate subtask.
                                </p>
                            </div>
                        </div>
                    </div>
                    {{ job_form.settings|addclass:'hidden settings-field border border-stale-300 rounded max-h-72 px-3 py-2 focus:outline-none focus:ring-primary focus:border-primary focus:ring-1 sm:text-sm' }}
                    <div id="settings-editor"></div>
                    <span class="text-error text-xs" id="settings-error">
                        {{ job_form.settings.errors }}
                    </span>
                </div>

                <div class="flex flex-row items-center mt-4">
                    <label for="is_private" class="text-sm font-bold">{{ job_form.is_private.label }}</label>
                    {{ job_form.is_private|addclass:'border border-stale-300 rounded ml-4 mt-1 px-3 py-2 focus:outline-none focus:ring-primary focus:border-primary focus:ring-1 sm:text-sm' }}
                </div>

                <button type="submit" class="bg-primary text-slate-200 rounded-md w-full py-1 font-main text-lg 
                        font-bold hover:bg-primary-darker hover:text-white transition duration-100 ease-out shadow-sm mt-5">
                    Create Task
                </button>
            </form>
        </div>
    </div>

{% endblock %}
