{% extends "layouts/dashboard_layout.html" %}

{% load static %}
{% load filters %}

{% block head_title %}Failed Sub-Tasks{% endblock %}

{% block mid_content %}

    <div class="flex flex-col items-center mt-8 overflow-hidden pb-4">

        <!-- <h1 class="text-3xl font-extrabold mt-6 mb-10">{{ job.name }}</h1> -->
        <div class="flex flex-col items-center border-2 px-4 pb-6 pt-4 mt-16 rounded-lg shadow-lg bg-white w-screen sm:px-6 sm:w-11/12 md:max-h-[51rem] md:w-5/6 2xl:w-11/12">

            <h2 class="text-2xl font-extrabold my-2">Failed Subtasks</h2>

            <div class="flex text-lg font-main font-bold w-full text-center">
                <h2 class="w-[9.6666%]">Task Name</h2>
                <h2 class="w-[5%]">SubTask ID</h2>
                <h2 class="w-[7%]">Status</h2>
                <h2 class="w-[12.6666%]">Settings</h2>
                <h2 class="w-2/12">Results</h2>
                <h2 class="w-1/12">Worker ID</h2>
                <h2 class="w-2/12">Usage</h2>
                <h2 class="w-2/12">Execution Time</h2>
                <h2 class="w-1/12">Finish Date</h2>
            </div>

            <div id="journal-scroll" class="overflow-y-scroll flex flex-col items-center py-4 w-full">
                {% if failed_tasks.count == 0 %}<p class="mt-4">There are no subs for this task yet</p>{% endif %}
                {% for sub in failed_tasks %}
                    <div class="flex font-main items-center py-4 border-t w-full">
                        <a href="{% url 'show_job' sub.job.id %}?sub={{ sub.id }}#{{ sub.id }}" class="font-bold w-[9.6666%] text-center font-main bg-slate-200 px-2 py-1 rounded-md hover:bg-slate-100 transition">
                            {{ sub.job.name|truncatechars:12 }}
                        </a>
                        <h2 class="font-bold w-[5%] text-center">{{ sub.id }}</h2>
                        <div class="text-xs w-[7%] mx-1 flex justify-center items-center">
                            {% include 'dashboard/_state_label.html' with state=sub.state %}
                        </div>
                        <div class="w-[12.6666%] flex justify-center">
                            <button id="button_settings_{{sub.id}}" onclick="show_settings({{sub.id}})" class="px-2 py-1 bg-primary font-main text-slate-200 rounded-md transition hover:bg-primary-darker hover:text-white">
                                Show Settings
                            </button>
                        </div>
                        <p class="flex justify-center flex-wrap text-primary w-2/12">
                            {% if sub.state != "complete" and sub.state != "failed" %}
                                <span class="text-black hover:cursor-auto hover:text-black">- - -</span>
                            {% else %}
                                <a class="hover:underline hover:cursor-pointer" href="{% url 'download' sub.id %}">
                                    {{ sub.result.name|only_name|truncatechars:23 }}
                                </a>
                            {% endif %}
                        </p>
                        <a {% if result.state != "available" %} href="{% url 'show_worker' sub.worker.id %}" {% endif %}  class="flex justify-center items-center w-1/12 relative">
                            <img class="w-14 absolute z-10" src="{% static 'computa.svg' %}" alt="">
                            {% if sub.state == "available" %}
                                <span class="z-20 text-white mb-5 font-bold">- - -</span>
                            {% else %}
                                <p class="z-20 text-white mb-5 font-bold">{{sub.worker.id}}</p>
                            {% endif %}
                        </a>
                        <div class="flex flex-col justify-center w-2/12 h-full items-center">
                            {% if sub.state == "available" %}
                                <span>- - -</span>
                            {% elif sub.state == "in_progress" %}
                                <div class="flex flex-col justify-between h-full">
                                    <div class="flex flex-col items-center justify-evenly h-1/2">
                                        <p class="font-main text-xs">Cur. Processor Usage: <span class="font-main text-xs font-bold text-primary">{{sub.processor_usage}}%</span></p>
                                        <div class="h-[6px] w-full rounded-lg bg-gray-100">
                                            <div data-progress="{{ sub.processor_usage }}" class="h-full rounded-lg progress-bar"></div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center justify-evenly h-1/2">
                                        <p class="font-main text-xs">Cur. Memory Usage: <span class="font-main text-xs font-bold text-primary">{{sub.memory_usage}}%</span></p>
                                        <div class="h-[6px] w-full rounded-lg bg-gray-100">
                                            <div data-progress="{{ sub.memory_usage }}" class="h-full rounded-lg progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="flex flex-col justify-between h-full">
                                    <div class="flex flex-col items-center justify-evenly h-1/2">
                                        <p class="font-main text-xs">Avg. Processor Usage: <span class="font-main text-xs font-bold text-primary">{{sub.avg_processor_usage}}%</span></p>
                                        <div class="h-[6px] w-full rounded-lg bg-gray-100">
                                            <div data-progress="{{ sub.avg_processor_usage }}" class="h-full rounded-lg progress-bar"></div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center justify-evenly h-1/2">
                                        <p class="font-main text-xs">Avg. Memory Usage: <span class="font-main text-xs font-bold text-primary">{{sub.avg_memory_usage}}%</span></p>
                                        <div class="h-[6px] w-full rounded-lg bg-gray-100">
                                            <div data-progress="{{ sub.avg_memory_usage }}" class="h-full rounded-lg progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <p class="w-2/12 text-center">
                            {% if sub.state != "complete" and sub.state != "failed" %}
                                <span>- - -</span>
                            {% else %}
                                {{ sub.execution_time.seconds|nice_timedelta }}
                            {% endif %}
                        </p>
                        <div class="w-28 flex flex-col items-center">
                            {% if sub.state != "complete" and sub.state != "failed" %}
                                <span>- - -</span>
                            {% else %}
                                <p class="">
                                    {{ sub.updated_at|date:"d N Y" }}
                                </p>
                                <p class="">
                                    {{ sub.updated_at|date:"H:i:s" }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="show_settings_{{sub.id}}" class="setting hidden w-11/12 break-all font-main text-base font-semibold ml-10 mb-2">
                        {{ sub.settings }}
                    </div>
                {% endfor %}
                <div class="w-full border-b"></div>
            </div>
            <div class="flex w-11/12 justify-center">
                <button onclick="expand_all_settings()" class="w-1/6 px-2 mx-8 py-1 mt-4 text-center font-bold bg-primary font-main text-slate-200 rounded-md transition hover:bg-primary-darker hover:text-white">
                    Expand All Settings
                </button>
                {% comment %} <a href="{% url 'download_all' job.id %}" class="w-1/6 mx-8 px-2 py-1 mt-4 text-center font-bold bg-primary font-main text-slate-200 rounded-md transition hover:bg-primary-darker hover:text-white">
                    Download All Results
                </a> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}