{% extends "layouts/dashboard_layout.html" %}

{% block head_title %}Job Preview{% endblock %}

{% block mid_content %}
    <div class="flex flex-col items-center">

        <h1 class="text-3xl font-extrabold mt-6 mb-10">{{ job.name }}</h1>
        
        <div class="flex text-xl mb-6">
            <h2 class="mr-2">status:</h2>
            <h2 class="font-bold">{{ job.state }}</h2>
        </div>

        <div class="flex flex-col items-center border-2 px-6 pb-4 pt-2 rounded-lg shadow-lg bg-white">
            <h2 class="text-xl font-bold mb-2">Job results</h2>
            {% for result in job_results %}
                <p class="text-primary hover:underline hover:cursor-pointer">
                    <a href="{% url 'download' result.id %}">
                    {{ result.result }}
                    </a>
                </p>
                </br>
            {% endfor %}

        </div>
    </div>
{% endblock %}