{% extends "layouts/dashboard_layout.html" %}

{% load static %}

{% block head_title %}Job Preview{% endblock %}

{% block mid_content %}
    <div class="flex flex-col items-center mt-8">
        

        <!-- <h1 class="text-3xl font-extrabold mt-6 mb-10">{{ job.name }}</h1> -->
        
        <div class="flex flex-col items-center border-2  px-4 pb-6 pt-4 mt-24 rounded-lg shadow-lg bg-white w-screen sm:px-10 sm:w-11/12 md:w-5/6 2xl:px-20 2xl:w-1/2">
            <div class="flex gap-4 w-full mb-4">
                <div class="p-1 bg-sky-100 border-slate-300 border-4 rounded-3xl -mt-10 h-fit">
                    {% if job.language == 'python' %}
                        <img class="h-16 w-16" src="{% static 'python.svg' %}" />
                    {% elif job.language == 'java' %}
                        <img class="h-16 w-16" src="{% static 'java.svg' %}" /> 
                    {% endif %}
                </div>
                    <!-- <h2 class="font-bold uppercase">{{ job.language }}</h2> -->
                <div class="flex flex-col -mt-3">
                    <h1 class="text-3xl font-extrabold">{{ job.name }}</h1>
                    <div class="bg-gray-100 text-gray-500 font-main text-sm font-bold rounded-lg uppercase py-1 px-1 w-fit">
                        {% if job.is_private %}
                            private
                        {% else %}
                            public
                        {% endif %}
                    </div>
                </div>
                
                <div class="ml-auto w-fit">
                    {% include 'dashboard/_state_label.html' with state=job.state %}
                </div> 
            </div>

            <div class="flex flex-col items-center px-6 py-4">
                <h2 class="text-xl font-bold mb-2">Task results</h2>
                {% if job_results.count == 0 %}<p class="mt-4">There are no results for this task yet</p>{% endif %}
                {% for result in job_results %}
                    <p class="text-primary hover:underline hover:cursor-pointer">
                        {% include 'shared/download.html'  with result=result %}
                    </p>
                    </br>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}