{% extends 'layouts/error_page.html' %} 

{% load static %}

{% block error_content %}
      <div class="flex flex-col justify-start">
        <h1 class="text-5xl text-primary font-main font-black ">403</h1>
      </div>
      <div class="border-l border-gray-300 ml-6 mr-6"></div>
      <div class="flex flex-col justify-around">
        <h2 class="text-5xl font-main font-black">You have no access here</h2>
        <h3 class="text-lg text-gray-400 mt-2 font-main font-normal">You shall not pass.</h3>
      </div>
{% endblock %}
