{% load static %}

<div class="bg-white shadow-sm rounded-lg p-3 cursor-pointer transition hover:scale-[1.02]" onclick="location.href='{% url 'show_job' job.id %}';" >
    <div class="flex items-center justify-between">
        <div class="p-1 bg-sky-100 rounded-2xl">
            {% if job.language == 'python' %}
                <img class="h-10 w-10" src="{% static 'python.svg' %}" /> 
            {% elif job.language == 'java' %}
                <img class="h-10 w-10" src="{% static 'java.svg' %}" /> 
            {% endif %}
        </div>
        <div class="flex flex-col grow ml-2">
            <a class="text-primary font-main font-bold" >{{ job.name|truncatechars:15 }}</a>
            <span class="font-main text-xs text-gray-500">
                {{ job.language|title }}
            </span>
        </div>
        <div class="flex justify-start items-start">
            {% if job.creator == current_user %}
                <a href="{% url 'edit_job' job.id %}" >
                    <img class="h-5 w-5 btn-edit z-auto" src="{% static 'edit.svg' %}" /> 
                </a>
            {% endif %}
        </div>
    </div>
    <div class="flex justify-between items-center mt-2">
        {% include 'dashboard/_state_label.html' with state=job.state %}
            {% if job.is_private %}
            <span class="bg-orange-100 text-orange-500 font-main text-xxs font-bold rounded-lg uppercase py-1 px-2">    
            private
            </span>
            {% else %}
            <span class="bg-gray-100 text-gray-500 font-main text-xxs font-bold rounded-lg uppercase py-1 px-2">
                public
            </span>

            {% endif %}
    </div>
    <div>
        <span class="text-primary font-main text-xs">
            {% if job.state == 'in_progress' %} Current {% else %} Avg. {% endif %} processor usage: 
            <span class="font-bold">
                
                {% if job.state == 'complete' or job.state == 'failed' %}
                    {{ job.last_result.avg_processor_usage }}
                {% else %}
                    {% if job.processor_usage %} {{ job.processor_usage }}% {% else %} --- {% endif %}
                {% endif %}
            </span>
        </span>
        <div class="h-2 w-full rounded-lg bg-gray-100">
            <div 
                data-progress="{% if job.state == 'complete' or job.state == 'failed' %} {{ job.last_result.avg_processor_usage }} {% else %} {{ job.processor_usage }} {% endif %}"
                class="h-full rounded-lg progress-bar">
            </div>
        </div>
        <span class="text-primary font-main text-xs">
            {% if job.state == 'in_progress' %} Current {% else %} Avg. {% endif %} memory usage: 
            <span class="font-bold">
                {% if job.state == 'complete' or job.state == 'failed' %}
                    {{ job.last_result.avg_memory_usage }}
                {% else %}
                    {% if job.memory_usage %} {{ job.memory_usage }}% {% else %} --- {% endif %}
                {% endif %}
            </span>
        </span>
        <div class="h-2 w-full rounded-lg bg-gray-100">
            <div
                data-progress="{% if job.state == 'complete' or job.state == 'failed' %} {{ job.last_result.avg_memory_usage }} {% else %} {{ job.memory_usage }} {% endif %}"
                class="h-full rounded-lg progress-bar">
            </div>
        </div>
    </div>
    <div class="flex justify-end items-center mt-2">
        <span class="bg-sky-100 text-slate-500 font-main text-xxs font-bold rounded-lg uppercase py-1 px-2">
            {{ job.created_at }}
        </span>
    </div>
 </div>
 