{% extends "layouts/dashboard_layout.html" %}

{% block head_title %}Dashboard{% endblock %}

{% load static %}

{% block mid_content %}

<div class="grow flex flex-col my-4 mx-4 md:mr-0 overflow-hidden">
   <div class="bg-white rounded-lg flex mb-4 p-3 mx-2">
      <div class="w-full flex justify-between flex-col sm:flex-row">
         <div class="w-full flex flex-col lg:flex-row items-center flex-wrap">
            <div class="flex flex-col w-full sm:w-11/12 lg:flex-row 2xl:w-1/2">
               <div class="flex items-center mb-4 lg:mb-0 w-full 2xl:w-5/6">
                  <img class="w-6 absolute ml-5 animate-left-hide" src="{% static 'search.svg' %}" alt="Search"/>
                  <input class="w-full pl-12 pr-2 py-1 border rounded-lg" type="search" name="search" placeholder="Search">
               </div>
               <select class="border rounded-lg px-4 py-2 lg:ml-4 font-main" name="progress-filter">
               <option class="text-gray-400" value="" disabled selected>Select Status</option>
               <option value="available">Available</option>
               <option value="in-progress">In Progress</option>
               <option value="completed">Completed</option>
               </select>
            </div>
            <div class="flex items-center mt-8 justify-evenly w-full sm:w-11/12 flex-col lg:flex-row lg:mt-4 2xl:w-auto 
                  2xl:justify-start 2xl:ml-32 2xl:mt-0">
               <label class="pl-0 py-1 font-main font-bold text-lg" for="sort-select">Sort By</label>
               <div class="flex w-full flex-col sm:flex-row lg:w-2/3">
                  <select class="border rounded-lg px-4 py-2 font-main w-full 
                        lg:w-2/3 2xl:w-auto 2xl:ml-4" name="sort-select" id="sort-select">
                     <option value="available">Creation Date</option>
                     <option value="in-progress">Status</option>
                     <option value="completed">Author</option>
                  </select>
                  <button class="w-1/2 self-center mt-2 sm:mt-0 sm:w-16 h-10 ml-4 px-4 py-1 rounded-lg
                      text-center bg-slate-100 hover:bg-slate-200 flex justify-center" id="sort-button">
                     <img class="w-8 min-w-[2rem]" id="sort-button-img" src="{% static 'ascending-sort.svg' %}" alt="Search"/>
                  </button>
               </div>
            </div>
         </div>
         <button class="mt-4 sm:mt-0 bg-primary text-slate-200 rounded-md px-4 py-1 font-main text-lg 
         font-bold hover:bg-primary-darker hover:text-white transition duration-100 ease-out shadow-sm">Search</button>
      </div>
   </div>
   <div class="h-full p-2 overflow-auto"  id="journal-scroll">
      <div class="grow grid grid-rows-16 grid-cols-1 lg:grid-rows-8 lg:grid-cols-2 xl:grid-rows-4 xl:grid-cols-4 gap-4 ">
         {% for job in jobs %}
            {% include 'dashboard/_job.html' with job=job %}
         {% endfor %}
      </div>
   </div>
   <div class="pagination mt-3">
      {% include 'layouts/pagination.html'  with page_obj=jobs %}
   </div>

</div>
   
{% endblock %}