{% extends "layouts/dashboard_layout.html" %}

{% block head_title %}Dashboard{% endblock %}

{% load static %}

{% block mid_content %}

<div class="grow flex flex-col my-4 mx-4 md:mr-0 overflow-hidden">
   <div class="bg-white rounded-lg flex mb-4 p-3 mx-2">
      <div class="w-full flex justify-between">
         <div class="w-5/6 flex items-center">
            <img class="w-6 absolute ml-5" src="{% static 'search.svg' %}" alt="Search"/>
            <input class="w-3/6 pl-12 pr-2 py-1 ml-2 border rounded-lg" type="search" name="search" placeholder="Search">
            <select class="border rounded-lg px-4 py-2 ml-4 font-main" name="progress-filter">
            <option value="available">Available</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
            </select>
            <label class="pl-6 ml-6 py-1 font-main font-bold text-lg" for="sort-select">Sort By</label>
            <select class="border rounded-lg px-4 py-2 ml-4 font-main" name="sort-select" id="sort-select">
               <option value="available">Creation Date</option>
               <option value="in-progress">Status</option>
               <option value="completed">Author</option>
            </select>
            <button class="ml-4 px-4 py-1 rounded-lg bg-slate-100 hover:bg-slate-200">
               <img class="w-7" src="{% static 'ascending-sort.svg' %}" alt="Search"/>
            </button>
         </div>
         <button class="mr-12 bg-primary text-slate-200 rounded-md px-4 py-1 font-main text-lg 
         font-bold hover:bg-primary-darker hover:text-white transition duration-100 ease-out shadow-sm">Search</button>
      </div>
   </div>
   <div class="h-full p-2 overflow-auto"  id="journal-scroll">
      <div class="grow grid grid-rows-16 grid-cols-1 lg:grid-rows-8 lg:grid-cols-2 xl:grid-rows-4 xl:grid-cols-4 gap-4 ">
         {% for job in jobs %}
            <div class="bg-white rounded-lg p-3  h-44">
               <a href="{% url 'show_job' job.id %}">{{ job.name }}</a>
               {% if job.creator == current_user %}
                  <a href="{% url 'edit_job' job.id %}">edit</a>
               {% endif %}
            </div>
         {% endfor %}
         
         {% with ''|center:50 as range %}
            {% for i in range %}
               <div class="bg-white rounded-lg p-3  h-44">
                  <a href="/job/35">Job {{ forloop.counter }}</a>
                  {% if forloop.counter0|divisibleby:3 %}
                     <a href="/job/35/edit">edit</a>
                  {% endif %}
               </div>
            {% endfor %}
         {% endwith %}

      </div>

   </div>
   <div class="pagination mt-3">
      {% include 'layouts/pagination.html'  with page_obj=jobs %}
   </div>

</div>
   
{% endblock %}